* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.character-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container {
  height: 25%;
  width: 45%;
  background: white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;

  .card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;

    p {
      font-size: 18px;
    }
    strong {
      font-weight: 600;
    }
  }

  li {
    margin: 15px 0;
  }
}
